.App {
  text-align: center;
  margin: auto;
}

.navBar{
  height:'1rem';
  display: flex;
  width: 90%;
  padding: 10px;
  margin: auto;
  justify-content: space-evenly;
}
.navBar .image{
  width: 80px;
  height: 50px;
}
.icon_image{
  width: 120px;
  height: 40px;
}
.background-Image{
  background-image: url('https://kettocdn.gumlet.io/media/banner/0/71/image/626a109be777492340e46d013c3cad0857a5da3a.png?w=1242&dpr=1.1');
  height: 440px;
}

